@{
    ViewData["Title"] = "Panel główny";
}

<h2>Dashboard</h2>

<div class="list-group">
    <a href="/Clients" class="list-group-item list-group-item-action">📋 Clients list</a>
    <a href="/Vehicles" class="list-group-item list-group-item-action">🚗 Vehicles list</a>
</div>